body {
  margin: auto;
  position: relative;
}

#navbar {
  white-space: nowrap;
  position: relative;
  overflow-x: auto;
  text-align: justify;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  padding: 16px;
  z-index: 1;
}

#navbar button, #navbar label {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background-color: #17ac89;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

#navbar button:active {
  background-color: rgb(31, 143, 117);
}

#container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 92px;
}

.card {
  max-width: 30%;
  background-color: #17ac89;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
}

@media (max-width: 1400px) {
  .card {
    min-width: 60%;
  }
}

@media (max-width: 800px) {
  .card {
    min-width: 80%;
  }
}

.card .delete {
  position: absolute;
  margin: 16px;
  cursor: pointer;
  top: 0;
  right: 0;
  font-size: 20px;
  width: 10px;
  height: 10px;
}

.card div {
  display: flex;
  max-width: 50%;
  min-width: 236px;
  min-height: 236px;
}

.inputs {
  flex-direction: row;
  flex-wrap: wrap;
}

.inputs input, .inputs textarea, .inputs select {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 8px;
  margin: 8px;
}

.inputs input:nth-child(n+3), .inputs select {
  width: calc(50% - 16px);
}

.inputs textarea {
  resize: none;
}

.display {
  align-items: center;
  justify-content: center;
}

.display img {
  max-width: 236px;
  max-height: 236px;
  margin: 8px;
}