body {
  margin: auto;
  position: relative;
}

#navbar {
  white-space: nowrap;
  position: relative;
  overflow-x: auto;
  text-align: justify;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  padding: 16px;
  z-index: 1;
}


#navbar button, #navbar label {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background-color: #17ac89;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

#navbar button:active {
  background-color: rgb(31, 143, 117);
}

#container {
  margin-top: 99px;
}

#container div {
  position: relative;
  overflow: hidden;
  left: 50%; 
  transform: translateX(-50%);
  width: 80%;
  background-color: #17ac89;
  padding: 16px;
  margin: 16px 16px;
  font-size: 16px;
}

#container input, #container select, #container textarea {
  display: block;
  padding: 8px;
  margin: 8px;
}

#cntainer img {
  float: right;
  display: block;
  object-fit: contain;
  float: right;
  max-width: 500px;
  height: 224px;
}