body {
  margin: auto;
  width: 80%;
}

.bigButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: none;
  background-color: #17ac89;
  padding: 15px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.bigButton:active {
  background-color: rgb(31, 143, 117);
}

#addCard {
  align-self: center;
  padding: 10px;
}

#downloadExpansion {
  align-self: center;
  padding: 10px;
}


.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: #17ac89;
  padding: 15px 15px;
  margin: 15px 0px;
  font-size: 16px;
}

.card input {
  padding: 6px 6px;
  margin: 6px 0px;
}

.card select {
  padding: 6px 6px;
  margin: 6px 0px;
}

.card img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  float: right;
}